body {
    /* Remover as propriedades de imagem de fundo */
    font-family: 'Arial', sans-serif;
    color: white; /* Cor do texto */
    text-align: center;
    margin: 0; /* Remove margens padrão do body */
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
}

.add-item {
    margin-top: 20px;
}

input, select {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #28a745; /* Verde da Itália */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.removeButton {
    background-color: #dc3545; /* Vermelho da Itália */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.removeButton:hover {
    background-color: #c82333;
}
